.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
	position: relative;
}

/* body{
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	/* top: -50%;
    left: -50%;
    transform: translate(38%, 150%); */
  /* }  */